@font-face {
  font-family: myfont1;
  src: url(../fonts/KohinoorBangla-Regular.woff2);
}

body {
  margin: 0;
  padding: 0;
  background-color: #2a8037;
}
.firstblock {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.logo-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-right: 10px;
  width: 34px;
  height: 34px;
}
.logo-and-name h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.firstblock h3 {
  margin: 0;
  color: white;
  font-family: myfont1, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.cover-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.cover-photo img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.cover-photo h3 {
  color: white;
  font-size: 20px;
  font-family: myfont1, sans-serif;
  width: 60%;
  text-align: center;
}
.cover-photo button {
  background-color: #ffffff;
  color: #8f00ff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  font-family: myfont1, sans-serif;
  font-weight: bold;
  width: 50%;
  border: 2px solid #ffffff;
  padding: 7px 0px;
  border-radius: 10px;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cover-photo button:hover {
  background-color: #2a8037;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.cover-photo button:active {
  background-color: #8f00ff;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.faq-section {
  background-color: white;
  font-family: myfont1, sans-serif;
  margin-bottom: 3rem;
}
.faq-sub-section {
  width: 60%;
  margin: auto;
  padding: 20px 0px;
}
.faq-sub-section h1 {
  text-align: center;
  color: #2a8037;
  font-size: 20px;
}
.faq {
  margin-bottom: 7px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.faq-question {
  padding: 0 12px;
  background-color: #8f00ff;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-question h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 100;
}
.faq-toggle {
  font-size: 18px;
}
.faq-answer {
  display: none;
  background-color: #ffffff;
  color: #8f00ff;
  padding: 0 12px;
  font-size: 13px;
  border-top: 1px solid #000000;
}
.review {
  font-family: myfont1, sans-serif;
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
}
.review h1 {
  font-size: 20px;
  color: white;
  text-align: center;
}
.review-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.review-item {
  font-family: "Poppins", sans-serif;
  margin: 20px auto;
  padding: 9px;
  width: 190px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-picture {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}
.user-name {
  font-size: 13px;
  color: #8f00ff;
  font-weight: bold;
  margin: 0 5px;
}
.user-review p {
  text-align: left;
  font-size: 10px;
  color: #000000;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 2px;
}
.purchase {
  margin-bottom: 3rem;
  background-color: #ffffff;
  font-family: myfont1, sans-serif;
  padding: 15px 0px;
}
.purchase-box {
  width: 60%;
  margin: auto;
  background-color: #ffffff;
  border: 2px solid #8f00ff;
  border-radius: 10px;
}
.dada {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
}
.duitar-bap {
  width: 100%;
  margin: auto;
}
.purchase-box h1 {
  font-size: 20px;
  color: #000000;
  margin: 0;
  padding: 20px;
}
.biling-details {
  margin-bottom: 3rem;
}
.biling-details h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #8f00ff;
  margin: 0 0 1rem 0;
  padding: 0;
}
.form-group {
  margin-bottom: 20px;
}
.ektar-bap {
  width: 100%;
}
.your-order {
}
.your-order h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #8f00ff;
  margin: 0 0 1rem 0;
  padding: 0;
}
.order-summary hr {
  color: #8f00ff;
}
.product-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
}

.product-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product-item img {
  width: 90px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}
.product-item .product-name {
  font-weight: bold;
}
.subtotal,
.total {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-weight: bold;
}

.shipping-options {
  margin-bottom: 20px;
}
.shipping-options span {
  font-weight: bold;
}
.shipping-options div {
  margin-top: 20px;
  margin-left: 20px;
}

.payment-method {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.payment-method span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.payment-method p {
  margin: 0;
  font-size: 14px;
  color: #000000;
}

button {
  font-family: myfont1, sans-serif;
  width: 100%;
  padding: 15px;
  background-color: #8f00ff;
  color: white;
  border: 2px solid #8f00ff;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #ffffff;
  color: #8f00ff;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input[type="text"],
input[type="tel"] {
  width: 95%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="tel"]:focus {
  border-color: #6200ea;
}
input[type="text"]::placeholder {
  font-size: 0.9rem;
  color: #999;
  font-family: myfont1, sans-serif;
}
.pricing-options {
  width: 100%;
  margin: 0;
  background-color: #fff;
  border-radius: 8px;
}
.pricing-options h1 {
  font-weight: 600;
  color: #8f00ff;
  margin: 0 0 1rem 0;
  padding: 0;
}
.pricing-option {
  border: 2px solid #8f00ff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
}
.pricing-option input {
  position: absolute;
  left: 15px;
  top: 20px;
  transform: scale(1.5);
}
.pricing-option label {
  display: block;
  padding-left: 40px;
  font-size: 16px;
  color: #333;
}
.pricing-option .old-price {
  text-decoration: line-through;
  color: #888;
}
.pricing-option .new-price {
  font-weight: bold;
  color: #333;
}
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ff5722;
  color: #fff;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
}
.badge.popular {
  background-color: #2196f3;
}

footer {
  font-family: "Poppins", sans-serif;
  background-color: #2a8037;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 60%;
  margin: auto;
}
.policy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.policy a {
  color: white;
  text-decoration: none;
}
/* Mobile Optimization */
@media (max-width: 768px) {
  .dada {
    display: flex;
    flex-direction: column;
  }

@media (max-width: 400px) {
}
